<div class="main_box" (click)="move_stackoverflow()">
<!-- <div class="main_box"> -->
    <div class="ans-details" >        
        <div>{{ get_results['answer_count'] ? get_results['answer_count']: 0 }} <b>Answers</b>
        </div>
        <div>{{ get_results.view_count }} <b>Views</b>
        </div>
        <div>{{ get_results.score }} <b>Votes</b>
        </div>
    </div>

    <div class="ans-main">
        <div style="display: flex; justify-content: center;">
            <h3>{{ get_results.title }}</h3>
        </div>
        <div style="margin-bottom: 10px;">
            <p>
                okay so Iam really new to node and backend and iam getting these 2 errors when I included the Socket.io chat application in my own chat app iam working on
                Failed to load resource: the server responded with a status of 404 (Not Found) socket.io.js:1Uncaught ReferenceError: io is not defined at chat:52
            </p>
        </div>
        <div class="tags">
            <ng-container *ngFor= "let tag of get_results.tags; let j = index">
                <button class="btn btn-success">{{ tag }}</button>
            </ng-container>
            
        </div>
    </div>

    <div class="ans-image" >
        <div>
            <img *ngIf=" get_results.owner.profile_image !='' " src="{{ get_results.owner.profile_image }}" alt="profile image " style="width: 30%; border-radius: 100%;" />
            <img *ngIf=" get_results.owner.profile_image =='' " src="{{ deafault_img }}" alt="profile image " style="width: 30%; border-radius: 100%;" />
        </div>
        <div>
            <p>{{ get_results.display_name }}</p>
            <p><b>Accept Rate:-</b> {{ get_results.owner.accept_rate }}</p>
            <p><b>Score:-</b> {{ get_results.score }}</p>
        </div>      
    </div>
    
</div>