.ans-details{
    display: flex;
    flex-direction: column;
    width: 23%;
    justify-content: center;
    align-items: center;
}

.ans-main{
    display: flex;
    flex-direction: column;
    width: 135%;
    align-items: flex-start;
}

.ans-image{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 0.1rem;
}

.tags{
    display: flex;
     width: 100%;
}

.tags button {
    margin-right: 30px;
}

.main_box{
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    cursor: pointer;
    padding: 15px;
}

.main_box:hover{
    background-color: lightgray;
}