.avtar_width{
    width: 45px ;
}

.foot{
    background: #000000;
    width: 100%;
    margin-top: 80px;
    color: white;
}

.input-box {
    display: flex;
    align-items: center;
}

.input-box2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input-box label{
    margin-bottom: 0;
    margin-right: 10px;
    color: white;    
}

.input-box2 label{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 23px;  
}



.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}

.search{
    padding: 10px;
    height: 40px;
    border-radius: 8px;
}

.drop_down{
    height: 68vh;
    overflow: auto;
    width: 100%;
}

.background-btn{
    background-color: purple;
}
.filter{
    display: flex;
    height: 350px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 8px;
    justify-content: space-evenly;
}

.first-half{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.order-label{
    margin-bottom: 0rem; 
    font-weight: 600;
}

.order-value{
    display: flex; 
    justify-content: space-between;
     align-items: center;
}

.body-tag{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.tag_label{
    display: flex; 
    flex-direction: column;
}

.pagination-tab{
    display: flex; 
    justify-content: center; 
    margin-top: 10px;
}

.page-link:hover{
    color: blue;
}

@media(min-width:1501px){

    .avtar_icon{
        right: 12%;
        position: absolute;
    } 
    .back{
        background-color: #438cb2;
        padding: 0.1%;
        padding-left: 15%;
        padding-right: 0.5%;
        position: fixed;
        width: 100%;
        z-index: 3;
        box-shadow: 2px 2px 10px 3px rgb(10, 10, 10,0.3);
    }
    
    .company_title{
        font-size: 2.2rem;
    }
    
    }

@media(min-width:992px) and (max-width:1500px){

.avtar_icon{
    right: 6.2%;
    position: absolute;
}

.back{
    background-color: #438cb2;
    padding: 0.1%;
    padding-left: 6.2%;
    padding-right: 6%;
    height: 68px;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 2px 2px 10px 3px rgb(10, 10, 10,0.3);
}

.company_title{
    font-size: 2.2rem;
    margin-top: -7px;
}

}

@media(max-width:991px){
    .back{
        background-color: #438cb2;
        z-index: 3;
        box-shadow: 2px 2px 10px 3px rgb(10, 10, 10,0.3);
    }

    .logout{
        background-color: #3ac6e9;    
    }
}