<!--Navbar -->
<nav style="background-color: black; position: fixed; width: 100%; z-index: 9; top: 0px;" class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
    <div class="container">
    <a class="navbar-brand" href="#"><b>Teamwave</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
            <div class="col-md-3 input-box">
                <label>Search</label>
                <input [(ngModel)]="search_title" type="text" placeholder="Search-Title" class="search" (keyup.enter)="search_title_fun()" />
            </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">FrameWorks and Languages</a>
          <div class="dropdown-menu dropdown-defaultb drop_down" aria-labelledby="navbarDropdownMenuLink-333" >
            <ng-container *ngFor="let lang of language_list; let i =index;">
              <a class="dropdown-item" href="#" (click)="tag_search(lang)" >{{ lang }}</a>
            </ng-container>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav nav-flex-icons avtar_icon">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
              <img src="{{ imgloc }}" class="rounded-circle z-depth-0 avtar_width"
              alt="No Image">
          </a>
        </li>
        <li class="nav-item avatar dropdown">
          <a style="cursor: pointer;" class="nav-link dropdown-toggle avtar_name" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ name }}
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary logout"
            aria-labelledby="navbarDropdownMenuLink-55">
            <!-- <a class="dropdown-item" href="#">Setting</a> -->
            <a class="dropdown-item" (click)="console_board()">Console Dashboard</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>

    </div>
    </div>
  </nav>
  <!--/.Navbar -->


<div class="container" style="margin-top: 6%">
    <h3 style="margin-bottom: 30px;">All Questions</h3>
    <div style="display: flex; justify-content: space-evenly;">
        <div style="display: flex; justify-content: space-between; width: 53%;">
            <button class="btn btn-primary" [style.background-color]="status =='desc' ? 'purple' : '' " (click)="newest('desc')" >Newest</button>

            <button class="btn btn-primary" [style.background-color]="status =='activity' ? 'purple' : '' " (click)="actively('activity')" >Activity</button>

            <button class="btn btn-primary" [style.background-color]="status =='votes' ? 'purple' : '' " (click)="votes('votes')" >Votes</button>

            <button class="btn btn-primary" [style.background-color]="status =='unanswered' ? 'purple' : '' " (click)="unanswered()" >Unanswered</button>

            <button class="btn btn-primary" [style.background-color]="status =='creation' ? 'purple' : '' " (click)="creation('creation')" >Creation</button>

            <button class="btn btn-primary" [style.background-color]="status =='relevance' ? 'purple' : '' " (click)="relevance('relevance')" >Relevance</button>
        </div>

        <div>
            <button class="btn btn-primary" (click)="fiter_popup()" ><i class="fa fa-filter"></i> Filter</button>
        </div>
    </div>





    <div *ngIf="filter_status" class="filter" >
      <div class="first-half">
        <div class="first-half">

          <div class="first-half">
            <label style="margin-bottom: 0rem; font-weight: 600;">Start Date: </label>
            <input #date1 type="date" placeholder="From-Date" />
          </div>

          <div class="first-half">
            <label style="margin-bottom: 0rem; font-weight: 600;">End Date: </label>
            <input #date2 type="date" placeholder="To-Date" />
          </div>

        </div>

          <div class="first-half" >
            <label class="order-label">Order:</label>
            <div class="order-value" >
              <label class="order-label">Ascending</label>
              <input type="radio" [(ngModel)]="order" value="asc" />
            </div>  
            <div class="order-value">
              <label class="order-label">Descending</label>
              <input type="radio" value="desc" [(ngModel)]="order"/>
            </div>  
          </div>

      </div>

      <div class="first-half">
        
        <div class="col-md-3" style="margin-bottom: -50px;">
          <select class="form-control" style="width: 200px;" [(ngModel)]="sort" > 
                  <option value="activity">Activity</option>
                  <option value="votes">Votes</option>
                  <option value="creation">Creation</option>
                  <option value="relevance">Relevance</option>  
          </select>
        </div> 

        <div class="body-tag">
          <div class="tag_label" >
            <label>Title of Problem</label>
            <input #title type="text" style="width: 300px;padding-left: 10px;" placeholder="Title of problem" />
          </div>

          <div class="tag_label" style="margin-top: 20px;">
            <label>Tag</label>
            <input #tag type="text" style="width: 300px; padding-left: 10px;" placeholder="Tag" />
          </div>

        </div>
        <button class="btn btn-primary" (click)="submit( date1.value, date2.value, title.value, tag.value)" >Submit</button>
      </div>
    </div>



    
    <div style="display: flex; justify-content: center; margin-top: 30px;">
        <div class="col-md-9 input-box2">
            <label>Search</label>
            <input style="width: 85%; padding-left: 10px;" type="text" placeholder="Search anything like tags....." [(ngModel)]="search_tags" (keyup.enter)="search_title_fun_2()"  />
        </div>
    </div>

</div>

<div class="container-fluid" *ngFor="let query of items | filter: search_tags; let i =index;">
    <app-ans-table [get_results]="query" ></app-ans-table>  
</div>


<div class="pagination-tab">
  <div class="btn-group" role="group">
      <button class="btn btn-info" (click)="previous_page()" >Previous</button>
      <ng-container *ngFor="let page of pages; let j = index;">

        <button class="btn btn-info" [style.background-color]="page_status == page.page_position ? 'blue': '' " (click)="page_clicked( page.page_no, page.page_position )" >{{ page.page_no }}</button>

      </ng-container>

      <!-- <button class="btn btn-info" [style.background-color]="page_status == 'first' ? 'blue': '' " >{{ page[0] }}</button> -->

      <!-- <button class="btn btn-info" [style.background-color]="page_status == 'second'? 'blue': '' " >{{ page[1] }}</button>

      <button class="btn btn-info" [style.background-color]="page_status == 'third'? 'blue': '' " >{{ page[2] }}</button> -->

      <button class="btn btn-info" (click)="next_page()" >Next</button>
  </div>
</div>

